
.advantages{
    /* background-image: url("../img/advantages/advantages-background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */
    
}
.advantages-grid{
    backdrop-filter:brightness(30%);
    height: 30em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "title title title"
    "advantage advantage advantage"
    "advantage advantage advantage";

}
.advantage-text{
    font-size: 25px;
}
.advantage-icon{
    font-size: 2.1em;
}
.advantage{
    grid-area: "advantage";
    color:white;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.advantages-title {
    padding: 0.7em;
    grid-area: title;
    display: block;
    width: 100%;
    text-align: center;
}

@media(max-width:756px){
    .advantages-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
    "title title"
    "advantage advantage"
    "advantage advantage"
    "advantage advantage";
    }
}

@media (max-width: 425px) {
    .advantage-text{
        font-size: 16px;
    }
    .advantage-icon{
        font-size: 2em;
    }
}
@media (max-width: 320px) {
    .advantages-grid{
        grid-template-columns: 1fr;
        grid-template-areas: 
    "title"
    "advantage"
    "advantage"
    "advantage"
    "advantage"
    "advantage"
    "advantage";
    }
    
    .advantage-text{
        font-size: 18px;
    }
    .advantage-icon{
        font-size: 2.2em;
    }
}