@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  
}


.wrapper{
  padding: 125px;
}
.projects-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  
}
.project-topic{
  transition: all .4s ease;
  position: relative;
  max-width: 45%;
  max-height: 45%;
}
.topic-offer{
  z-index: 3;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 0px;
  transition: all .4s ease;
}
.project-topic:hover{
  .topic-title, .topic-description{
    backdrop-filter: brightness(20%);
    height: 50%;
  }
  .topic-title span, .topic-description p{
    display: none;
  }
  .topic-description{
    padding-top: 50%;
    padding-bottom: 0px;
  }
  .topic-offer{
    font-size: 30px;
    display: block;
  }

}

.topic-image img{
  display: block;
  width: 100%;
}


.topic-title{
  transition: all .4s ease;
  text-transform: uppercase;
  top:0;
  width: 100%;
  height: 65px;
  padding-left: 10px;
  padding-top: 10px;
  backdrop-filter: brightness(30%);
  position: absolute;
  z-index: 2;
  font-size: 25px;
  color: white;
  font-weight: 500;
}
.topic-description{
  transition: all .4s ease;
  text-transform: uppercase;
  bottom: 0;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  backdrop-filter: brightness(30%);
  position: absolute;
  z-index: 2;
  font-size: 20px;
  color: white;
  font-weight: 500;
}


/* Footer */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
  }
  footer h3 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  footer p {
    color: #777;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  footer li {
    color: #777;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .row {
    flex: 1;
  }
  footer .col-md-6 {
    flex-basis: 50%;
  }
/* Footer */