
.start-page-title{
    font-size: 2.7em;
    text-shadow: rgb(255, 136, 0) 1px 0 1px;
    text-align: center;
}
.start-page-subtitle{
    font-size: 1.8em;
    text-shadow: rgb(255, 136, 0) 1px 0 1px;
    text-align: center;
}
.main-container{
    color: black;

    width: 100%;
    backdrop-filter: invert(80%);
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.start-page-section{
    background-image: url("../img/start-bg.jpg");
    background-repeat: no-repeat;
    /* background-image: linear-gradient(to bottom, #ffffff00 80%, #ffffff 20%); */
    background-position: center;
    background-size: cover;
    background-color: rgb(21, 3, 3);
    display: flex;
    align-items: center;
    width: 100%;
    height:900px;
    
}

@media (max-width: 736px){
    .start-page-title{
        font-size: 2.3em;
    }
    .start-page-subtitle{
        font-size: 1.4em;
    }
}
@media (max-width: 640px){
    .start-page-title{
        font-size: 2em;
    }
    .start-page-subtitle{
        font-size: 1.2em;
    }
}
@media (max-width: 542px){
    .start-page-title{
        font-size: 1.8em;
    }
    .start-page-subtitle{
        font-size: 1.2em;
    }
}